Repository sibiraj-s/ngx-notifier: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

chore: update nodejs to v20
  .github/workflows/npmpublish.yml
  .github/workflows/tests.yml
  package.json
Due: none

ci: update github actions to latest
  .github/workflows/npmpublish.yml
  .github/workflows/tests.yml
Due: none

chore: sync package-lock.json
  package-lock.json
Due: none

release: ngx-notifier v12.0.0
  CHANGELOG.md
  projects/ngx-notifier/package.json
Due: prettier --write

chore: bump devDependencies
  .gitignore
  package-lock.json
  package.json
Due: none

build: configure ssr
  angular.json
  package-lock.json
  package.json
  projects/demo/server.ts
  projects/demo/src/app/app.config.server.ts
  projects/demo/src/app/app.config.ts
  projects/demo/src/main.server.ts
  projects/demo/tsconfig.app.json
  tsconfig.json
Due: eslint --fix

feat: export component as standalone
  projects/demo/src/app/app.component.ts
  projects/ngx-notifier/src/lib/ngx-notifier.component.spec.ts
  projects/ngx-notifier/src/lib/ngx-notifier.component.ts
  projects/ngx-notifier/src/lib/ngx-notifier.module.ts
  projects/ngx-notifier/src/lib/services/ngx-notifier.service.spec.ts
  projects/ngx-notifier/src/lib/services/ngx-notifier.service.ts
  projects/ngx-notifier/src/public-api.ts
Due: eslint --fix

docs: update README
  README.md
Due: prettier --write

release: ngx-notifier v13.0.0
  CHANGELOG.md
  projects/ngx-notifier/package.json
Due: prettier --write

docs: update stackblitz edit url
  README.md
Due: prettier --write

chore: bump devDependencies
  package-lock.json
  package.json
Due: none

chore: regenerate package-lock.json
  package-lock.json
Due: none

refactor: update to angular 19
  .eslintrc.json
  angular.json
  eslint.config.js
  package-lock.json
  package.json
  projects/demo/.eslintrc.json
  projects/demo/eslint.config.js
  projects/demo/server.ts
  projects/demo/src/assets/.gitkeep
  projects/demo/src/public/assets/angular.svg
  projects/demo/src/public/favicon.ico
  projects/demo/src/server.ts
  projects/demo/tsconfig.app.json
  projects/ngx-notifier/.eslintrc.json
  projects/ngx-notifier/eslint.config.js
  projects/ngx-notifier/package.json
  tsconfig.json
Due: eslint --fix

chore: fix public folder location
  projects/demo/public/assets/angular.svg
  projects/demo/public/favicon.ico
  projects/demo/src/styles.scss
Due: prettier --write

feat: update to angular v20
  .editorconfig
  .gitignore
  angular.json
  commitlint.config.js
  eslint.config.js
  package-lock.json
  package.json
  projects/demo/.postcssrc.json
  projects/demo/eslint.config.js
  projects/demo/src/app/app.config.server.ts
  projects/demo/src/app/app.config.ts
  projects/demo/src/app/app.css
  projects/demo/src/app/app.html
  projects/demo/src/app/app.routes.server.ts
  projects/demo/src/app/app.routes.ts
  projects/demo/src/app/app.spec.ts
  projects/demo/src/app/app.ts
  projects/demo/src/main.server.ts
  projects/demo/src/main.ts
  projects/demo/src/server.ts
  projects/demo/src/styles.css
  projects/demo/tailwind.config.ts
  projects/demo/tsconfig.app.json
  projects/demo/tsconfig.spec.json
  projects/ngx-notifier/eslint.config.js
  projects/ngx-notifier/package.json
  projects/ngx-notifier/tsconfig.lib.json
  projects/ngx-notifier/tsconfig.lib.prod.json
  projects/ngx-notifier/tsconfig.spec.json
  scripts/postbuild.js
  tsconfig.json
Due: eslint --fix, prettier --write

refactor: rename NgxNotifierComponent to NgxNotifier
  README.md
  projects/demo/src/app/app.ts
  projects/ngx-notifier/src/lib/ngx-notifier.html
  projects/ngx-notifier/src/lib/ngx-notifier.scss
  projects/ngx-notifier/src/lib/ngx-notifier.spec.ts
  projects/ngx-notifier/src/lib/ngx-notifier.ts
  projects/ngx-notifier/src/public-api.ts
Due: eslint --fix, prettier --write

ci: update to node v22
  .github/workflows/npmpublish.yml
  .github/workflows/tests.yml
Due: none

release: ngx-notifier v14.0.0
  CHANGELOG.md
  projects/ngx-notifier/package.json
Due: prettier --write

ci: remove npm token usage
  .github/workflows/npmpublish.yml
Due: none

feat: update to angular 22
  .github/workflows/npmpublish.yml
  .github/workflows/tests.yml
  .lintstagedrc.yml
  .oxfmtrc.json
  .prettierrc.yml
  README.md
  angular.json
  package-lock.json
  package.json
  projects/demo/src/app/app.component.html
  projects/demo/src/app/app.config.ts
  projects/demo/src/app/app.ts
  projects/demo/src/main.server.ts
  projects/demo/tsconfig.app.json
  projects/demo/tsconfig.spec.json
  projects/ngx-notifier/package.json
  projects/ngx-notifier/src/lib/ngx-notifier.component.html
  projects/ngx-notifier/src/lib/ngx-notifier.html
  projects/ngx-notifier/src/lib/ngx-notifier.scss
  projects/ngx-notifier/src/lib/ngx-notifier.spec.ts
  projects/ngx-notifier/src/lib/ngx-notifier.ts
  projects/ngx-notifier/src/lib/services/ngx-notifier.service.ts
  projects/ngx-notifier/tsconfig.lib.json
  projects/ngx-notifier/tsconfig.spec.json
Due: eslint --fix, prettier --write

fix: notifier dismiss and clear bugs, add tests
  projects/ngx-notifier/src/lib/ngx-notifier.component.html
  projects/ngx-notifier/src/lib/ngx-notifier.spec.ts
  projects/ngx-notifier/src/lib/ngx-notifier.ts
  projects/ngx-notifier/src/lib/others/notification-helper.spec.ts
  projects/ngx-notifier/src/lib/services/ngx-notifier.service.spec.ts
Due: eslint --fix, prettier --write

release: ngx-notifier v15.0.0
  CHANGELOG.md
  projects/ngx-notifier/package.json
Due: prettier --write

ci: use npm staged publishing
  .github/workflows/npmpublish.yml
Due: none

Path conditions:
  eslint --fix: any of: *.{js,ts,html}
  prettier --write: any of: *.{md,scss,html}
